node_modules/
main/node_modules/
react-app/node_modules/
vue2-app/node_modules/
.travis.yml
*.swp
.sass-cache/
mods/.sass-cache/
.DS_Store
.idea
npm-debug.log
npm-debug.log.*
*.bak
*.bak.*
.vscode/
lib/
.tmp/
.ice/
build/